<%= render('layouts/errors', :object => @business) %>

<%= form_for [@type, @business] do |f| %>
  <div class="form-row">
    <div class="form-group col-4">
      <%= f.label :name %>
      <%= f.text_field :name, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-4">
      <%= f.label :telenum %>
      <%= f.text_field :telenum, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6">
      <%= f.label :street %>
      <%= f.text_field :street , :class => "form-control"%>
    </div>
    <div class="form-group col-6">
      <%= f.label :city %>
      <%= f.text_field :city, :class => "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-3">
      <%= f.label :state %>
      <%= f.text_field :state, :class => "form-control" %><br>
    </div>
    <div class="form-group col-3">
      <%= f.label :zip %>
      <%= f.text_field :zip, :class=> "form-control" %><br>
    </div>
  </div>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :website %>
  <%= f.text_field :website %><br>
  <p><%= f.submit :class => "btn btn-success" %></p>
<% end %>
